<h2>Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form col-md-3" >
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-3">
    <%= f.label "Nome" %>
    <%= f.text_field :name, autocomplete: "name", class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-3">
    <%= f.label "senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-3">
    <%= f.label "confirmar senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-line" %>
  </div><br><br><br><br>

  <div class="dropdown col-md-3">
    <%= f.label "Nível" %>
    <%= f.select :level_id, options_from_collection_for_select(Level.all, :id, :name, @user.level_id), {}, class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-1">
    <%= f.label "Cadastrar" %><br>
    <input class="btn btn-primary" type="submit" value="Confirmar">
  </div>

  <div class="form col-md-1">
    <%= f.label "Cancelar" %><br>
    <a class="btn btn-danger" href="sign_in" role="button">Cancelar</a>
  </div>
<% end %>
