<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.user.name %>
</p>
<a class="btn btn-primary" <%= link_to 'Editar', edit_recipe_path(@recipe) %></a>
<a class="btn btn-danger" <%= link_to 'Cancelar', recipes_path %></a>
