<div class="container">

  <p id="notice"><%= notice %></p>

  <h2><%= @recipe.title %></h2>

  <p><br>
    <strong>Ingredientes:</strong>
    <% for @ingredient in @recipe.ingredients %>
      <ul>
        <li><%= @ingredient.name %> : <%= @ingredient.quantity %></li>
      </ul>
    <% end %>
  </p>

  <p><br>
    <strong>Modo de preparo:</strong>
    <%= @recipe.body %>
  </p>

  <p><br>
    <strong>Autor:</strong>
    <%= @recipe.user.name %>
  </p>

  <% if current_user && current_user.id == @recipe.user_id %>
    <a class="btn btn-primary" <%= link_to 'Editar', edit_recipe_path(@recipe) %></a>
    <a class="btn btn-danger"<%= link_to 'Excluir', @recipe, method: :delete, data: { confirm: 'Tem certeza que desja excluir esta receita?' } %></a>
  <% end %>
  <a class="btn btn-primary" <%= link_to 'Voltar', root_path %></a>

</div>
