<!-- Hero section -->
<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <div class="hero-slide-item set-bg" data-setbg="img/slider-bg-1.jpg">
      <div class="hs-text">
        <h2 class="hs-title-1"><span>Receitas Deliciosas</span></h2>
        <h2 class="hs-title-2"><span>amador ou profissional</span></h2>
        <h2 class="hs-title-3"><span>compartilhe conosco!</span></h2>
      </div>
    </div>
    <div class="hero-slide-item set-bg" data-setbg="img/slider-bg-2.jpg">
      <div class="hs-text">
        <h2 class="hs-title-1"><span>Receitas Deliciosas</span></h2>
        <h2 class="hs-title-2"><span>amador ou profissional</span></h2>
        <h2 class="hs-title-3"><span>compartilhe conosco!</span></h2>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->


<!-- Tips of the day section -->
<section class="bottom-widgets-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Dica do dia</h2>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <div class="sp-blog-item">
          <div class="blog-thubm">
            <img src="img/blog/entrada.jpg" alt="">
            <div class="blog-date">
              <span>Entrada</span>
            </div>
          </div>
          <div class="blog-text">
            <h5>Título da Receita</h5>
            <span>Por: Autor</span>
            <a href="#" class="readmore"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sp-blog-item">
          <div class="blog-thubm">
            <img src="img/blog/principal.jpg" alt="">
            <div class="blog-date">
              <span>Prato Principal</span>
            </div>
          </div>
          <div class="blog-text">
            <h5>Título da Receita</h5>
            <span>Por: Autor</span>
            <a href="#" class="readmore"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sp-blog-item">
          <div class="blog-thubm">
            <img src="img/blog/sobremesa.jpg" alt="">
            <div class="blog-date">
              <span>Sobremesa</span>
            </div>
          </div>
          <div class="blog-text">
            <h5>Título da Receita</h5>
            <span>Por: Autor</span>
            <a href="#" class="readmore"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Tips of the day section end -->


<!-- Search section -->

<div class="search-form-section">
  <div class="sf-warp">
    <div class="container">
      <form class="big-search-form">
        <select>
          <option>Ingredientes</option>
          <option>Breakfast</option>
          <option>Lunch</option>
          <option>Dinner</option>
        </select>
        <select>
          <option>Ingredientes</option>
          <option>Breakfast</option>
          <option>Lunch</option>
          <option>Dinner</option>
        </select>
        <%= form_tag(root_path, method: :post) do %>
          <%= text_field_tag :title %>
          <button class="bsf-btn" type="submit">Buscar</button>
        <% end %>
      </form>
    </div>
  </div>
</div>

<!-- Search section end -->

<br><br><br><br>

<!-- Recipes section -->
<section class="recipes-section spad pt-0">
  <div class="container">
    <div class="section-title">
      <h2>Receitas</h2>
      <br>

      <div class="row">
        <% @recipes.each do |recipe| %>

          <div class="col-lg-4">
            <div class="sp-blog-item h-100">
              <div class="blog-thubm">
                <img src="img/blog/blog.jpg" alt="">
                <div class="blog-date">
                  <span><%= recipe.title %></span>
                </div>
              </div>
              <div class="blog-text">
                <span><h4><%= recipe.title %></h4></span><hr />
                <p><br>
                  <strong>Ingredientes:</strong>
                  <% for @ingredient in recipe.ingredients %>
                    <ul>
                      <li><%= @ingredient.name %> : <%= @ingredient.quantity %></li>
                    </ul>
                  <% end %>
                </p>
                <span>Por: <%= recipe.user.name %></span>

              </div>
              <%= link_to ">", recipe_path(recipe), class: "readmore" %>
            </div>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</section>
<!-- Recipes section end -->

<br><br><br><br>

<!-- Yellow section -->
<section class="review-section">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>
<!-- Yellow section end -->


<!-- Gallery section -->
<div class="gallery">
  <div class="gallery-slider owl-carousel">
    <div class="gs-item set-bg" data-setbg="img/instagram/1.jpg"></div>
    <div class="gs-item set-bg" data-setbg="img/instagram/2.jpg"></div>
    <div class="gs-item set-bg" data-setbg="img/instagram/3.jpg"></div>
    <div class="gs-item set-bg" data-setbg="img/instagram/4.jpg"></div>
    <div class="gs-item set-bg" data-setbg="img/instagram/5.jpg"></div>
    <div class="gs-item set-bg" data-setbg="img/instagram/6.jpg"></div>
  </div>
</div>
<!-- Gallery section end -->

<!-- Yellow section -->
<section class="review-section">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>
<!-- Yellow section end -->

<!-- Footer section  -->
<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-logo">
          <img src="img/logo.png" alt="">
        </div>
        <div class="footer-social">
          <a href="https://www.google.com" target="_blank"><i class="fa fa-pinterest"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa fa-dribbble"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa fa-behance"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-6 text-lg-right">
        <ul class="footer-menu">
          <li><a href="http://localhost:3000">Início</a></li>
          <li><a href="http://localhost:3000">Buscar</a></li>
          <li><a href="http://localhost:3000">Postagens</a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<!-- Footer section end -->
