<div class="container">
<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form col-md-3">
    <%= f.label "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-3">
    <%= f.label "senha" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-line" %>
  </div>

  <div class="form col-md-1">
    <%= f.label "Login" %><br>
    <input class="btn btn-primary" type="submit" value="Entrar">
  </div>

  <div class="form col-md-2">
    <%= f.label "Não é membro?" %><br>
    <a class="btn btn-success" href="sign_up" role="button">Cadastre-se</a>
  </div>


<br /><br /><br /><br />
  <% if devise_mapping.rememberable? -%>
    <div class="form col-md-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>



<% end %>
</div>
