<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Recipes</title>
  	<meta charset="UTF-8">
  	<meta name="description" content="Recipes Blog">
  	<meta name="keywords" content="food, unica, creative, html">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<!-- Favicon -->
  	<link href="img/favicon.ico" rel="shortcut icon"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

  </head>

  <body id="page-top">
    
  	<!-- Header section -->
  	<header class="header-section">
      <% if current_user %>
        <%= render "layouts/navbarlogout" %>
      <% else %>
        <%= render "layouts/navbarlogin" %>
      <% end %>
  		<div class="header-bottom">
  			<div class="container">
  				<a href="#" class="site-logo">
  					<img src="img/logo.png" alt="">
  				</a>
  				<div class="nav-switch">
  					<i class="fa fa-bars"></i>
  				</div>
  				<ul class="main-menu">
  					<li><a href="#">Início</a></li>
  					<li><a href="#">Buscar</a></li>
  					<li><a href="#">Postagens</a></li>
  				</ul>
  			</div>
  		</div>
  	</header>
  	<!-- Header section end -->

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
